
.card{
  padding: 5px;
  width:300px ;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  
}

.card .card-top
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-top img{
width: 32px;
height: 32px;
border: 1ps solid #dadada;
border-radius: 5px;
padding: 2px;

}
.card-top button{
  display: flex;
  align-items: center;
}